html
  head
    title Upload service
    meta(name="BACKEND_URI", content=BACKEND_URI)
    link(rel="stylesheet", href="style.css")
  body
    div(class="centered")
      h1 Placeholder
      p Placeholder

    script(src="common.js") 
    script(src="upload.js") 
    script(src="download.js") 