html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  
  height: 100vh;
  width: 100vw;
}

* {
  font-family: sans-serif;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3rem;
  border-radius: 16px;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px #000;
}
